{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 text-white">
    <h1 class="display-1">Payments</h1>
    <h1>{{transaction_id}}</h1>
    <form action="/payment/{{payment.id}}" method="POST">
        <div class="form-group">
            <label for="payment_method">Select Payment Method:</label>
            <div class="form-check">
                <input checked class="form-check-input" type="radio" name="payment_method" id="debit_card" value="debit_card">
                <label class="form-check-label" for="debit_card">Debit Card</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payment_method" id="credit_card" value="credit_card">
                <label class="form-check-label" for="credit_card">Credit Card</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payment_method" id="net_banking" value="net_banking">
                <label class="form-check-label" for="net_banking">Net Banking</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payment_method" id="upi" value="upi">
                <label class="form-check-label" for="upi">UPI</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payment_method" id="wallet" value="wallet">
                <label class="form-check-label" for="wallet">Wallet</label>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Order Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Amount:</td>
                    <td>{{total}}</td>
                </tr>
                <tr>
                    <td>GST (18%):</td>
                    <td>{{ GST }}</td>
                </tr>
                <tr>
                    <td><strong>Amount Payable:</strong></td>
                    <td><strong>{{amount_payable}}</strong></td>
                </tr>
            </tbody>
        </table>
        <table>
            <form action="{{(url_for('payments_post', id=payment.id))}}" method="post">
                <button class="btn btn-success">
                     Proceed to Payment
                </button>
            </form>
        </table>
  </form>  
</div>
{% endblock %}

{% block style %}
    
{% endblock %}
