<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="GET">
               <!--1st method of using drop down
                <div class="input-group">
                    ##drop down using select tag##
                    <select name="parameter" id="parameter" class="parameter form-select">
                        {% for parameter in parameters %}
                            {% if param and parameter == param %}
                            <option value="{{ parameter }}" selected>{{parameters[parameter]}}</option>
                            {% else %}
                            <option value="{{ parameter }}">{{parameters[parameter]}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="text" value="{{query}}"
                           name="query" class="form-control w-50" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </span>  
                </div>-->
                <div class="input-group">
                    <input type="text"
                    name="sname" 
                    id="sname" 
                    value="{{sname}}"
                    class="form-control" 
                    placeholder="Section">
                    <input type="text" 
                    name="bname" 
                    id="bname" 
                    value="{{bname}}"
                    class="form-control" 
                    placeholder="Book">
                    <input type="number" 
                    name="price" 
                    id="price" 
                    value="{{price}}"
                    class="form-control" 
                    placeholder="Max Price">
                    <a href="{{url_for('user_dash')}}" class="btn btn-outline-danger">
                        <i class="fas fa-backspace    "></i>
                        Clear
                    </a>
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fa fa-search"></i>
                        Search
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>