
{% extends 'base.html' %}

{% block content %}
{% include 'searchbar.html' with context %}

<hr>
<div class="sections-list">
    {% for section in sections %}
    <h2>{{section.name}}</h2>
    <div class="books">
        {% for book in section.books %}
        <!--{% if (param == 'bname' and bname.lower() in book.name.lower()) or (param != 'bname') %}-->
        {% if bname != '' and bname.lower() in book.name.lower() or not bname %}
        {% if price and book.price <= price or not price %} 
            <div class="card" style="width: 18rem;">
            <img src="https://picsum.photos/200/200" class="card-img-top" alt="{{book.name}}">
            <div class="card-body">
                <h5 class="card-title">{{book.name}}</h5>
                <p class="card-text">
                <div class="price">
                    <strong>Price:</strong>
                    &#8377;{{book.price}}
                </div>
                <div class="quantity">
                    <strong>Downloadable:</strong>
                    
                </div>
                </p>

                    
                
                <div class="quantity_input">
                    <form action="" method="POST" class="form">
                        <label for="quantity">Quantity:</label>
                        <input class="form" type="number" name="quantity" id="quantity" min="1"
                            max="{{book.quantity}}" value="1">
                        <input type="submit" value="Add to Cart" class="btn btn-success">
                    </form>
                </div>
                {% else %}
                <button disabled="disabled" class="btn btn-outline-danger">
                    <i class="fas fa-times    "></i>
                    Not Downloadable
                </button>
                
            </div>
    </div>
    <!--{% endif %}-->
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}

{% block style %}
<style>
    .sections-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .books {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        margin: 10px;
    }
</style>
{% endblock %}